html
 {
background: aliceblue;}

/* General Styles */

h1 {
	font-family: Raleway;
	font-size: 32px;
	font-weight: 510;
	line-height: 30px;
  text-align: center;
}
h2 {
	font-family: Raleway;
	font-size: 24px;
  font-style: italic; 
	font-weight: 500;
	line-height: 10px;
  text-align: center;
}
h3 {
	font-family: Raleway;
	font-size: 20px;
  font-style: normal; 
	font-weight: 500;
	line-height: 20px;
}

p {
	font-family: Raleway;
	font-size: 16px;
  font-style: normal; 
	font-weight: 500;
	line-height: 20px;
}


li
{color: #000671; 
font-family: Raleway;
line-height: 40px;
font-size: 18px;
text-align: center;
 }
a
{color: #000671  }
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* General Media stlyes */

div.video-container
{position: relative;
width: 100%}

div.video-container iframe {
  position: absolute;
  top: 0; left: 0;
  margin-left: 20px;
  width: 80%;
  height: 80%;
}

.img {
    display: block;
    margin: auto;
    width: 100%;
}
figcaption {
  text-align: center;
}

/* Grid */

div.blocks {
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-gap: 20px;
    margin-bottom: 50px;
}

div.blocks div {
    background-color: white;
    border: 4px solid #E4E6E5;
    padding: 15px;
}

.intro {
    grid-column: 1 / 3;
    grid-row: 1;
}
.spreadsheet {width: 100%;
    height: 250px;
    overflow: scroll;
    margin: 0;
    display: inline-block;}

.media-wrapper { 
grid-templete-columns: 1fr 1fr;
grid-gap: 20px;
margin-bottom: 50px;}


/* Responsive grid */

section#intro {
  display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr))  
}
@media screen and (min-width:1080px) {
  section#intro {
    grid-template-columns: 400px 1fr;}
}
section#data-collection {
  display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr))  
}
@media screen and (min-width:1080px) {
  section#data-collection {
    grid-template-columns: 400px 1fr;}
}


  
