html
 {
background: white  ;}

/* General Styles */

h1 {
	font-family: Marker felt, fantasy;
	font-size: 36px;
	font-weight: 510;
	line-height: 30px;
  text-align: center;
}
h2 {
	font-family: Marker felt, fantasy;
	font-variant: small-caps;
	font-size: 21px;
  font-style: italic; 
	font-weight: 500;
	line-height: 10px;
  text-align: center;
}
h3 {
	font-family: marker felt, fantasy;
	font-size: 20px;
  font-style: normal; 
	font-weight: 500;
	line-height: 20px;
}

p {
	font-family: Verdana, sans-serif;
	font-size: 14px;
  font-style: normal; 
	font-weight: 500;
	line-height: 20px;
}

section#intro {background-color: #EFFFFB}
section#data-collection {background-color: #DEF0EB} 

li
{color: #000671; 
font-family: marker felt, fantasy;
line-height: 40px;
font-size: 18px;
text-align: center;
 }
a
{color: #000671  }
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
} 

/* General Media stlyes */

div.img-container img {
	width: 100%;
	height: 100%;
}

div.video-container
{position: relative;
width: 100%}

div.video-container iframe {
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
}

/* .img { 
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%;
    position: absolute;
    
}
/* .img {display:table-cell; 
	vertical-align:middle;
	text-align:center;
	height:300px;
	width:300px;}*/
	
	
figcaption {
  text-align: center;
}

/* Grid */

.blocks {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    margin-bottom: 50px;
}
@media screen and (max-width: 500px) {
	section.blocks {
		grid-template-columns: 1fr;
	}
}

.blocks div {
/*     background-color: white; */
    border: 4px dotted  #C0C0C0  ;
    padding: 15px;
}

/* 
.intro {
    grid-column: 1 / 3;
    grid-row: 1;
}
 */
.spreadsheet {width: 100%;
    height: 250px;
    overflow: scroll;
    margin: 0;
    display: inline-block;}

/* 
.media-wrapper { 
grid-templete-columns: 1fr 1fr;
grid-gap: 20px;
margin-bottom: 50px;}
 */


/* Responsive grid */

/* 
section#intro {
  display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr))  
}
@media screen and (min-width:1080px) {
  section#intro {
    grid-template-columns: 400px 1fr;}
}
section#data-collection {
  display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr))  
}
@media screen and (min-width:1080px) {
  section#data-collection {
    grid-template-columns: 400px 1fr;}
}
section#further-implications {
  display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr))  
}
@media screen and (min-width:1080px) {
  section#further-implications {
    grid-template-columns: 400px 1fr;}
}
 */


  
